.header {
background-color: #ffffff;
border-bottom: 1px solid #eeeeee;
}

.header-main {
max-width: 1200px;
margin: 0 auto;
padding: 12px 16px;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #eeeeee;
}

.logo-area {
display: block;
}

.logo-sub {
font-size: 11px;
color: #000000;
font-weight: bold;
}

.logo {
font-family: "M PLUS Rounded 1c", sans-serif;
font-weight: 800;
font-size: 32px;
color: #222222;
}

.login-link {
display: flex;
align-items: center;
gap: 6px;
font-size: 13px;
color: #000000;
font-weight: bold;
}